body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%;}
  
#map canvas {
        cursor: default;
}

.infoBox {
    height: 200px;
    width: 150px;
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
    text-align: left;
    font-family: 'Arial';
    margin: 0;
    font-size: 13px;
  }

.startMarker{
  margin-top: -15px;  
  margin-left: 15px;   
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #A7F432;
}

.startMarker:after  {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: white;
  position: absolute;
  border-radius: 50%;
}

.endMarker{
  margin-top: -15px;  
  margin-left: 15px; 
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #FFBF00;
}

.endMarker:after  {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: white;
  position: absolute;
  border-radius: 50%;
}

.tempMarker{
  margin-top: -15px;  
  margin-left: 15px;  
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #5D76CB;
/*  margin: 10px;*/
}

.tempMarker:after  {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: white;
  position: absolute;
  border-radius: 50%;
}

.searchBtn{
    width: 100%;
    height: 30px;
}

.startBtn{
    background: #A7F432;
}

.endBtn{
    background: #FFBF00;
}

.contextMenu {
    margin-top:  30px;  
    margin-left: 75px;  
    height: 60px;
    width: 150px;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
  }

.contextMenu input {
    width: 100%;
        height: 30px;

}

.startMarkerSelected{
    font-weight: bold;
    display: none;
}

.endMarkerSelected{
    font-weight: bold;
    display: none;
}


/*


#context-menu input{
    width: 100%;
    height: 30px;
}

#start-marker {
 width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #00cae9;
  position: absolute;  

}


#start-marker:after  {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}

#end-marker {
  background-color: orangered;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}*/
